@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.App {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
   padding: 24px 240px;
   font-family: "Montserrat";
   font-family: "Montserrat", sans-serif;

   /* dark theme */
   color: #fff;
}

body {
   /* dark theme */
   background: #3a3a3a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-style: normal;
   font-weight: 700;
   line-height: 40px;
   margin: 0;
}

h1 {
   font-size: 32px;
   margin-bottom: 8px;
}

h2 {
   font-size: 24px;
   margin-bottom: 8px;
}

h3 {
   font-size: 20px;
   line-height: normal;
   margin: 6px 0 4px;
}

hr {
   margin: 12px 0;

   /* dark theme */
   border: 1px solid #494949;
}

.btn {
   height: 44px;
   padding: 0 32px;
   border-radius: 12px;
   background: #454545;
   border: none;
   color: #fff;
   font-family: Montserrat, sans-serif;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
}

.btn-badge {
   height: 32px;
   border-radius: 28px;
   padding: 0 12px;
   font-family: Gilroy, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: 22px;
   text-transform: lowercase;
   background-color: #4b6eb9;
}

.w-full_center {
   width: 100%;
   display: flex;
   justify-content: center;
}

.Other-Content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas:
      "projects newproject"
      "errorsideas errorsideas";
   gap: 16px;
}

.Other-Content > div:nth-child(1) {
   grid-area: projects;
}

.Other-Content > div:nth-child(2) {
   grid-area: newproject;
}

.Other-Content > div:nth-child(3) {
   grid-area: errorsideas;
}

.App__Title {
   display: flex;
   gap: 10px;
}

.Title__icon {
   background-color: #ee9e44;
   height: 40px;
   width: 40px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
}

.Title__icon img {
   height: 24px;
   width: 24px;
}

.Uploader {
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-bottom: 16px;
}

.Uploader .Block {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.Upload__item {
   display: flex;
   gap: 14px;
   align-items: center;
}

.Upload-cover {
   height: 80px;
   width: 140px;
   background-color: #d94141;
   border-radius: 12px;
   font-size: 44px;
   line-height: 44px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* align-content: center; */
}

.Upload-cover i {
   height: 44px;
}

.Upload-info h3 {
   margin-bottom: 6px;
}

.Upload-Projects .btn-badge {
   background-color: #d94141;
}

.Upload-Students .btn-badge,
.Upload-Students .Upload-cover {
   background-color: #4b6eb9;
}
